h1,
p,
button {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: #19a2b8;
}
p {
  font-size: 17px;
}

img {
  display: block;
  margin: 0 auto;
}

form {
  margin-bottom: 20px;
}
.container {
  width: 800px;
}
.temp {
  font-weight: bold;
  font-size: 20px;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #e8df3d;
}

.next-days {
  padding: 1px;
}

.time {
  margin-top: 0;
  margin-bottom: 0;
}
